name: CI
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: wasilibs/actions/.github/workflows/ci.yaml@364780632fc9a7c5682c77298f09eec27169d363
    secrets: inherit

  example:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: curioswitch/go-build/.github/actions/setup-go@91ef77720b0c28ee035379d1955413c4e2a230b8 # v0.7.2

      - name: build example
        run: go run ./build example
