name: "Release"

on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  release:
    uses: wasilibs/actions/.github/workflows/release.yaml@2c5c69270ae8b3bb967e6d0f598d207c73adeb0b
    secrets: inherit
